<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="locals" value="./.locals-packages" />
  </packageSources>

  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="NETStandard.*" />
      <package pattern="Nuget.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="YamlDotNet" />
      <package pattern="MSTest.TestAdapter" />
      <package pattern="MSTest.TestFramework" />
      <package pattern="runtime.native.System" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="DiffPlex" />
      <package pattern="ilspycmd" />
    </packageSource>

    <packageSource key="locals">
      <package pattern="Jotunn*" />
      <package pattern="Mono.*" />
      <package pattern="MonoMod.*" />
      <package pattern="MonoMod" />
      <package pattern="BepInEx.*" />
      <package pattern="BepInEx" />
      <package pattern="HarmonyX*" />
      <package pattern="Unity*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
